<div class="login-register-flex">
  <div class="login-register-center">
    <div class="mb-4">
      <h3>Welcome to Login Page</h3>
    </div>
   
    <ul class="nav nav-pills nav-justified mb-3">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active">
        <form [formGroup]="myform" (ngSubmit)="loginUser()">
          <!-- Email input -->
          <div class="mb-4">
            <label class="form-label">Email or username</label>
            <input type="email" class="form-control"  placeholder="Enter Username" formControlName='username'/>
            <div *ngIf="!isUserameCtrlRequireValid()" class="text-danger">
              *Username is required
            </div>
          </div>

          <!-- Password input -->
          <div class=" mb-4">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" formControlName='password'/>
            <div *ngIf="!isPasswordCtrlRequireValid()" class="text-danger">
              *Password is required
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
